.local_commander {
    display: none;
    z-index: 9999 !important;
    position: fixed;
    top: 40px;
    left: 50%;
    z-index: 2000;
    height: 60%;
    overflow: hidden;
    width: 600px;
    margin: 0 0 0 -200px;
    background-color: #1B2834;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

.local_commander-header {
    margin: 15px;
    color: #fff;
}

.local_commander-body {
    overflow: hidden;
    margin: 5px 15px 5px 15px;
}

.local_commander-body ul {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}

.local_commander-body li {
    border-bottom: 1px solid #5d5f62;
    padding: 2px 4px;
    margin: 0;
    width: 520px;
    margin-bottom: 2px;
}

.local_commander-body li a {
    color: #587D37;
    font-weight: bold;
}

.local_commander-body li.active{
    background: #34BC6E;
}

.local_commander-body li.active a {
    color: #ffffff;
    font-weight: bold;
}

.local_commander-body div {
    overflow-y: scroll;
    height: 575px;
}

#local_commander_back_layer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9994 !important;
    background: rgba(95, 95, 95, 0.36);
}

#local_commander_command{
    width: 570px;
    background: #1B2834;
    border: none;
    color:#fff;
}