:root {
  --modal-commander-bg-color: #fff;
  --modal-commander-text-color: #000;
  --modal-commander-border-color: #ccc;
  --highlight-commander-bg-color: #f4bd21;
  --highlight-commander-text-color: #000;
  --scrollbar-thumb-color: #888;
  --scrollbar-thumb-hover-color: #555;
  --scrollbar-track-color: #f5f5f5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --modal-commander-bg-color: #2c2c2c;
    --modal-commander-text-color: #f0f0f0;
    --modal-commander-border-color: #555;
    --highlight-commander-bg-color: #f4bd21;
    --highlight-commander-text-color: #000;
    --scrollbar-thumb-color: #555;
    --scrollbar-thumb-hover-color: #777;
    --scrollbar-track-color: #2c2c2c;
  }
}

#local_commander_modal {

  font-family: Arial, serif;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--modal-commander-bg-color);
  color: var(--modal-commander-text-color);
  border: 1px solid var(--modal-commander-border-color);
  z-index: 1001;
  overflow: hidden;
  display: none;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);

  .local_commander-header {
    border-bottom: 1px solid var(--modal-commander-border-color);
    padding: 10px;

    h2 {
      font-size: 14px;
      margin: 0;
    }
  }

  input[type="text"] {
    width: calc(100% - 40px);
    padding: 5px;
    margin-left: 10px;
    border: none;
    border-top: 1px solid var(--modal-commander-border-color);
    font-size: 14px;
    box-sizing: border-box;
    background-color: var(--modal-commander-bg-color);
    color: var(--modal-commander-text-color);
  }

  .local_commander-body {
    overflow: hidden;
    padding: 10px;

    ul {
      display: block;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        border-bottom: 1px solid #5d5f62;
        padding: 5px;
        cursor: pointer;
        width: auto;
        font-size: 13px;

        a {
          color: var(--modal-commander-text-color);
          font-weight: bold;
        }

        &.active {
          background-color: var(--highlight-commander-bg-color);

          a {
            color: var(--highlight-commander-text-color);
            font-weight: bold;
          }
        }
      }

      .highlight {
        background-color: var(--highlight-commander-bg-color);
        color: var(--highlight-commander-text-color);
      }
    }

    /* Apply custom scrollbar styles */
    div {
      scrollbar-width: thin;
      scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
    }

    /* WebKit browsers */
    div::-webkit-scrollbar {
      width: 12px;
    }

    div::-webkit-scrollbar-track {
      background: var(--scrollbar-track-color);
    }

    div::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar-thumb-color);
      border-radius: 6px;
      border: 3px solid var(--scrollbar-track-color);
    }

    /* Scrollbar thumb hover effect */
    div::-webkit-scrollbar-thumb:hover {
      background-color: var(--scrollbar-thumb-hover-color);
    }

    div {
      overflow-y: scroll;
      height: calc(100% - 100px);
    }
  }
}

#local_commander_back_layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: none;
}